.top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-light {
    background-color: #fff;
    border-color: #DDDDDD;
    color: #191919;
}

.btn-light:hover {
    border-color: #cccccc;
    color: $primary;
}

.btn-light i {
    color: #999999;
}

.btn-light:hover i {
    color: $primary;
}

.navbar-brand {
    color: $primary;
    font-size: 1.25rem;
}

.navbar-brand:hover {
    color: #2826a6;
}

.slider {
    &__nav {
        max-height: 250px;
    }
}

@media (min-width: 1200px) {
    .slider {
        &__nav {
            max-height: 300px;
        }
    }
}

@media (min-width: 1400px) {
    .slider {
        &__nav {
            max-height: 350px;
        }
    }
}

// Cards
.card {
    .img-wrap {
    position: relative;
    height: 240px;
    display: block;   
    padding: 1rem;
    text-align: center;
        
        img {
            height: 100%;
            width: auto;
            object-fit: cover;
            max-width: 100%;
        }

        .badge {
            position: absolute;
            top: 8px;
            right: 8px;
        }
    }

    .title {
        display: block;
        text-decoration: none;
        color: #595959;
    }

    .info-wrap {
        padding: 1rem 1.2rem;
    }
    
    .btn-icon {
        width: 2.5rem;
        padding-left: 0;
        padding-right: 0;
    }
}