.top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-light {
    background-color: #fff;
    border-color: #DDDDDD;
    color: #191919;
}

.btn-light:hover {
    border-color: #cccccc;
    color: $primary;
}

.btn-light i {
    color: #999999;
}

.btn-light:hover i {
    color: $primary;
}

.navbar-brand {
    color: $primary;
    font-size: 1.25rem;
}

.navbar-brand:hover {
    color: #0f8a65;
}